@tailwind base;
@tailwind components;
@tailwind utilities;

#email2,#username,#password{
    background-color: #000;
    color: rgb(226 232 240);
    border: none;
    outline-style: none;
}
.signup{
    background-image: url(./assets/chatsync.jpg);
    background-size: cover;
}
.otp-input{
    background-color: #000;
    color: rgb(226 232 240); 
}