@tailwind base;
@tailwind components;
@tailwind utilities;

#email2,
#username,
#password,
#email4,
#search,
#message {
  background-color: #000;
  color: rgb(226 232 240);
  border: none;
  outline-style: none;
}

.signup {
  background-image: url(./assets/chatsync.jpg);
  background-size: cover;
}

.otp-input {
  background-color: #000;
  color: #e2e8f0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.message {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.grpname{
  min-width:20vw;
  border-bottom: #e2e8f0 solid 1px;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  outline: none;
}